* {
<<<<<<< HEAD
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .select {
    display: flex;
    gap: 10px;
    margin-left: 50px;
  }
  #datetime-picker {
    width: 200px;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
  }
  
  #start-picker {
    width: 100px;
    height: 60px;
    font-size: 24px;
    border-radius: 5px;
    background-color: lightgreen;
    cursor: pointer;
  }
  
  .timer {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    gap: 15px;
    margin-left: 50px;
    margin-top: 30px;
  }
  
  .field {
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
    text-align: center;
    width: 160px;
    border-radius: 5px;
  }
  .value {
    font-size: 24px;
    border: 2px solid goldenrod;
    border-radius: 5px;
    margin: 5px;
  }
  .notiflix-notify {
    display: flex;
    top: 40px;
  }
=======
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  gap: 16px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  margin-top: 16px;
  border-radius: 4px;
  padding: 8px 5px;
}

.value {
  font-size: 40px;
  font-weight: 500;
}

.label {
  font-weight: 500;
  text-transform: uppercase;
}
>>>>>>> 5aee78df8d053b8998f106e4a51a3506b8a0acc8
